@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Gloria+Hallelujah|Patrick+Hand+SC');
body {
  background-image: url(http://cdn.wallpapersafari.com/88/47/R2NBFm.jpg);
  background-size: 1200px;
}

h1 {
  font-family: 'Caveat Brush', cursive;
  text-align: center;
  font-size: 65px;
  font-weight: bolder;
}

p {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
}

h2, h3 {
  font-family: 'Patrick Hand SC', cursive;
}

ul {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 18px;
}

a {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
  filter: alpha(opacity=60);
}

h1 {
  margin: 0;
}

header {
  width: 100%;
  height: 75px;
  background-color: #8A0D17;
}

main {
  height: 1500px;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #8A2D2C;
}

a:link {
  color: #3352E8;
  background-color: transparent;
}

a:visited {
  color: #401514;
  background-color: transparent;
}

a:hover {
  color: #0E4025;
  background-color: transparent;
}

a:active {
  color: #38FF96;
  background-color: transparent;
}

.wrapperHeader {
  width: 1200px;
  margin: auto;
}

.wrapperMain {
  width: 700px;
  margin: auto;
}

.wrapperFooter {
  width: 1200px;
  margin: auto;
}

.quotes {
  font-size: 12px;
  text-indent: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}
